<footer class="footer">
  <div class="footer-content">
    <div class="footer-title">
      <h2>A PROPOS DE <img src="logo_blanc.png" alt="Logo" class="footer-logo"></h2>
    </div>
    <div class="footer-text">
      <p>
        Explorer les empreintes dans la nature réserve des surprises. Lors de vos promenades, concentrez-vous sur les empreintes d'animaux dans la terre, le sable ou la neige. Chaque animal laisse ses propres marques : les cerfs avec leurs sabots élégants, les renards avec leurs pattes soignées, et les écureuils avec leurs légers sauts. En étudiant ces traces, nous apprenons à reconnaître et comprendre nos voisins sauvages, renforçant ainsi notre connexion avec la nature.
      </p>
    </div>
    <hr class="footer-line">
    <div class="footer-bottom">
      <p>&copy; 2024 WILDAWARE | All Rights Reserved <span class="separator">|</span> <a href="#">Terms and Conditions</a> <span class="separator">|</span> <a href="#">Privacy Policy</a></p>
    </div>
  </div>
</footer>





  
