/* Padding */
.padding-h-none {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-h-5 {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-h-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-h-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padding-h-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-h-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.padding-h-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-h-35 {
    padding-left: 35px;
    padding-right: 35px;
}

.padding-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-h-45 {
    padding-left: 45px;
    padding-right: 45px;
}

.padding-h-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-h-55 {
    padding-left: 55px;
    padding-right: 55px;
}

.padding-h-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding-h-65 {
    padding-left: 65px;
    padding-right: 65px;
}

.padding-h-70 {
    padding-left: 70px;
    padding-right: 70px;
}

.padding-h-75 {
    padding-left: 75px;
    padding-right: 75px;
}

.padding-h-80 {
    padding-left: 80px;
    padding-right: 80px;
}

.padding-h-85 {
    padding-left: 85px;
    padding-right: 85px;
}

.padding-h-90 {
    padding-left: 90px;
    padding-right: 90px;
}

.padding-h-95 {
    padding-left: 95px;
    padding-right: 95px;
}

.padding-h-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.padding-h-value {
    padding-left: var(--left);
    padding-right: var(--right);
}

.padding-v-none {
    padding-top: 0px;
    padding-bottom: 0px;
}

.padding-v-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-v-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-v-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.padding-v-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-v-25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.padding-v-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-v-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.padding-v-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-v-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.padding-v-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-v-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.padding-v-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.padding-v-65 {
    padding-top: 65px;
    padding-bottom: 65px;
}

.padding-v-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.padding-v-75 {
    padding-top: 75px;
    padding-bottom: 75px;
}

.padding-v-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.padding-v-85 {
    padding-top: 85px;
    padding-bottom: 85px;
}

.padding-v-90 {
    padding-top: 90px;
    padding-bottom: 90px;
}

.padding-v-95 {
    padding-top: 95px;
    padding-bottom: 95px;
}

.padding-v-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.padding-v-value {
    padding-top: var(--top);
    padding-bottom: var(--bottom);
}

.padding-none {
    padding: 0px;
}

.padding-2 {
    padding: 2px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-30 {
    padding: 30px;
}

.padding-35 {
    padding: 35px;
}

.padding-40 {
    padding: 40px;
}

.padding-45 {
    padding: 45px;
}

.padding-50 {
    padding: 50px;
}

.padding-55 {
    padding: 55px;
}

.padding-60 {
    padding: 60px;
}

.padding-65 {
    padding: 65px;
}

.padding-70 {
    padding: 70px;
}

.padding-75 {
    padding: 75px;
}

.padding-80 {
    padding: 80px;
}

.padding-85 {
    padding: 85px;
}

.padding-90 {
    padding: 90px;
}

.padding-95 {
    padding: 95px;
}

.padding-100 {
    padding: 100px;
}

.padding-value {
    padding: var(--padding);
}

.padding-r-none {
    padding-right: 0px;
}

.padding-r-5 {
    padding-right: 5px;
}

.padding-r-10 {
    padding-right: 10px;
}

.padding-r-15 {
    padding-right: 15px;
}

.padding-r-20 {
    padding-right: 20px;
}

.padding-r-25 {
    padding-right: 25px;
}

.padding-r-30 {
    padding-right: 30px;
}

.padding-r-35 {
    padding-right: 35px;
}

.padding-r-40 {
    padding-right: 40px;
}

.padding-r-45 {
    padding-right: 45px;
}

.padding-r-50 {
    padding-right: 50px;
}

.padding-r-55 {
    padding-right: 55px;
}

.padding-r-60 {
    padding-right: 60px;
}

.padding-r-65 {
    padding-right: 65px;
}

.padding-r-70 {
    padding-right: 70px;
}

.padding-r-75 {
    padding-right: 75px;
}

.padding-r-80 {
    padding-right: 80px;
}

.padding-r-85 {
    padding-right: 85px;
}

.padding-r-90 {
    padding-right: 90px;
}

.padding-r-95 {
    padding-right: 95px;
}

.padding-r-100 {
    padding-right: 100px;
}

.padding-r-value {
    padding-right: var(--right);
}

.padding-l-none {
    padding-left: 0px;
}

.padding-l-5 {
    padding-left: 5px;
}

.padding-l-10 {
    padding-left: 10px;
}

.padding-l-15 {
    padding-left: 15px;
}

.padding-l-20 {
    padding-left: 20px;
}

.padding-l-25 {
    padding-left: 25px;
}

.padding-l-30 {
    padding-left: 30px;
}

.padding-l-35 {
    padding-left: 35px;
}

.padding-l-40 {
    padding-left: 40px;
}

.padding-l-45 {
    padding-left: 45px;
}

.padding-l-50 {
    padding-left: 50px;
}

.padding-l-55 {
    padding-left: 55px;
}

.padding-l-60 {
    padding-left: 60px;
}

.padding-l-65 {
    padding-left: 65px;
}

.padding-l-70 {
    padding-left: 70px;
}

.padding-l-75 {
    padding-left: 75px;
}

.padding-l-80 {
    padding-left: 80px;
}

.padding-l-85 {
    padding-left: 80px;
}

.padding-l-90 {
    padding-left: 90px;
}

.padding-l-95 {
    padding-left: 95px;
}

.padding-l-100 {
    padding-left: 100px;
}

.padding-l-value {
    padding-left: var(--left);
}

.padding-b-none {
    padding-bottom: 0px;
}

.padding-b-2_5 {
    padding-bottom: 2.5px;
}

.padding-b-5 {
    padding-bottom: 5px;
}

.padding-b-10 {
    padding-bottom: 10px;
}

.padding-b-15 {
    padding-bottom: 15px;
}

.padding-b-20 {
    padding-bottom: 20px;
}

.padding-b-25 {
    padding-bottom: 25px;
}

.padding-b-30 {
    padding-bottom: 30px;
}

.padding-b-35 {
    padding-bottom: 35px;
}

.padding-b-40 {
    padding-bottom: 40px;
}

.padding-b-45 {
    padding-bottom: 45px;
}

.padding-b-50 {
    padding-bottom: 50px;
}

.padding-b-55 {
    padding-bottom: 55px;
}

.padding-b-60 {
    padding-bottom: 60px;
}

.padding-b-65 {
    padding-bottom: 65px;
}

.padding-b-70 {
    padding-bottom: 70px;
}

.padding-b-75 {
    padding-bottom: 75px;
}

.padding-b-80 {
    padding-bottom: 80px;
}

.padding-b-85 {
    padding-bottom: 80px;
}

.padding-b-90 {
    padding-bottom: 90px;
}

.padding-b-95 {
    padding-bottom: 95px;
}

.padding-b-100 {
    padding-bottom: 100px;
}

.padding-b-value {
    padding-bottom: var(--bottom);
}

.padding-t-none {
    padding-top: 0px;
}

.padding-t-2_5 {
    padding-top: 2.5px;
}

.padding-t-5 {
    padding-top: 5px;
}

.padding-t-10 {
    padding-top: 10px;
}

.padding-t-15 {
    padding-top: 15px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-t-25 {
    padding-top: 25px;
}

.padding-t-30 {
    padding-top: 30px;
}

.padding-t-35 {
    padding-top: 35px;
}

.padding-t-40 {
    padding-top: 40px;
}

.padding-t-45 {
    padding-top: 45px;
}

.padding-t-50 {
    padding-top: 50px;
}

.padding-t-55 {
    padding-top: 55px;
}

.padding-t-60 {
    padding-top: 60px;
}

.padding-t-65 {
    padding-top: 65px;
}

.padding-t-70 {
    padding-top: 70px;
}

.padding-t-75 {
    padding-top: 75px;
}

.padding-t-80 {
    padding-top: 80px;
}

.padding-t-85 {
    padding-top: 80px;
}

.padding-t-90 {
    padding-top: 90px;
}

.padding-t-95 {
    padding-top: 95px;
}

.padding-t-20 {
    padding-top: 20px;
}

.padding-t-100 {
    padding-top: 100px;
}

.padding-t-value {
    padding-top: var(--top);
}

.content-100p-5p {
    width: 100%;
    height: 5%;
}

.content-100p-10p {
    width: 100%;
    height: 10%;
}

.content-100p-15p {
    width: 100%;
    height: 15%;
}

.content-100p-20p {
    width: 100%;
    height: 20%;
}

.content-100p-25p {
    width: 100%;
    height: 25%;
}

.content-100p-30p {
    width: 100%;
    height: 30%;
}

.content-100p-33p {
    width: 100%;
    height: 33.33%;
}

.content-100p-35p {
    width: 100%;
    height: 35%;
}

.content-100p-40p {
    width: 100%;
    height: 40%;
}

.content-100p-45p {
    width: 100%;
    height: 45%;
}

.content-100p-50p {
    width: 100%;
    height: 50%;
}

.content-100p-55p {
    width: 100%;
    height: 55%;
}

.content-100p-60p {
    width: 100%;
    height: 60%;
}

.content-100p-65p {
    width: 100%;
    height: 65%;
}

.content-100p-70p {
    width: 100%;
    height: 70%;
}

.content-100p-75p {
    width: 100%;
    height: 75%;
}

.content-100p-80p {
    width: 100%;
    height: 80%;
}

.content-100p-85p {
    width: 100%;
    height: 85%;
}

.content-100p-90p {
    width: 100%;
    height: 90%;
}

.content-100p-95p {
    width: 100%;
    height: 95%;
}

.content-100p-100p {
    width: 100%;
    height: 100%;
}

.content-5p-100p {
    width: 5%;
    height: 100%;
}

.content-10p-100p {
    width: 10%;
    height: 100%;
}

.content-15p-100p {
    width: 15%;
    height: 100%;
}

.content-20p-100p {
    width: 20%;
    height: 100%;
}

.content-25p-100p {
    width: 25%;
    height: 100%;
}

.content-30p-100p {
    width: 30%;
    height: 100%;
}

.content-33p-100p {
    width: 33.3333%;
    height: 100%;
}

.content-35p-100p {
    width: 35%;
    height: 100%;
}

.content-40p-100p {
    width: 40%;
    height: 100%;
}

.content-45p-100p {
    width: 45%;
    height: 100%;
}

.content-50p-100p {
    width: 50%;
    height: 100%;
}

.content-55p-100p {
    width: 55%;
    height: 100%;
}

.content-60p-100p {
    width: 60%;
    height: 100%;
}

.content-65p-100p {
    width: 65%;
    height: 100%;
}

.content-70p-100p {
    width: 70%;
    height: 100%;
}

.content-75p-100p {
    width: 75%;
    height: 100%;
}

.content-80p-100p {
    width: 80%;
    height: 100%;
}

.content-85p-100p {
    width: 85%;
    height: 100%;
}

.content-90p-100p {
    width: 90%;
    height: 100%;
}

.content-95p-100p {
    width: 95%;
    height: 100%;
}

.content-100p-100p {
    width: 100%;
    height: 100%;
}

.content-auto-5p {
    width: auto;
    height: 5%;
}

.content-auto-10p {
    width: auto;
    height: 10%;
}

.content-auto-15p {
    width: auto;
    height: 15%;
}

.content-auto-20p {
    width: auto;
    height: 20%;
}

.content-auto-25p {
    width: auto;
    height: 25%;
}

.content-auto-30p {
    width: auto;
    height: 30%;
}

.content-auto-33p {
    width: auto;
    height: 33.3333%;
}

.content-auto-35p {
    width: auto;
    height: 35%;
}

.content-auto-40p {
    width: auto;
    height: 40%;
}

.content-auto-45p {
    width: auto;
    height: 45%;
}

.content-auto-50p {
    width: auto;
    height: 50%;
}

.content-auto-55p {
    width: auto;
    height: 55%;
}

.content-auto-60p {
    width: auto;
    height: 60%;
}

.content-auto-65p {
    width: auto;
    height: 65%;
}

.content-auto-70p {
    width: auto;
    height: 70%;
}

.content-auto-75p {
    width: auto;
    height: 75%;
}

.content-auto-80p {
    width: auto;
    height: 80%;
}

.content-auto-85p {
    width: auto;
    height: 85%;
}

.content-auto-90p {
    width: auto;
    height: 90%;
}

.content-auto-95p {
    width: auto;
    height: 95%;
}

.content-auto-100p {
    width: auto;
    height: 100%;
}

.content-5p-auto {
    width: 5%;
    height: auto;
}

.content-10p-auto {
    width: 10%;
    height: auto;
}

.content-15p-auto {
    width: 15%;
    height: auto;
}

.content-20p-auto {
    width: 20%;
    height: auto;
}

.content-25p-auto {
    width: 25%;
    height: auto;
}

.content-30p-auto {
    width: 30%;
    height: auto;
}

.content-33p-auto {
    width: 33.33%;
    height: auto;
}

.content-35p-auto {
    width: 35%;
    height: auto;
}

.content-40p-auto {
    width: 40%;
    height: auto;
}

.content-45p-auto {
    width: 45%;
    height: auto;
}

.content-50p-auto {
    width: 50%;
    height: auto;
}

.content-55p-auto {
    width: 55%;
    height: auto;
}

.content-60p-auto {
    width: 60%;
    height: auto;
}

.content-65p-auto {
    width: 65%;
    height: auto;
}

.content-70p-auto {
    width: 70%;
    height: auto;
}

.content-75p-auto {
    width: 75%;
    height: auto;
}

.content-80p-auto {
    width: 80%;
    height: auto;
}

.content-85p-auto {
    width: 85%;
    height: auto;
}

.content-90p-auto {
    width: 90%;
    height: auto;
}

.content-95p-auto {
    width: 95%;
    height: auto;
}

.content-100p-auto {
    width: 100%;
    height: auto;
}

.content-50p-5p {
    width: 50%;
    height: 5%;
}

.content-50p-10p {
    width: 50%;
    height: 10%;
}

.content-50p-15p {
    width: 50%;
    height: 15%;
}

.content-50p-20p {
    width: 50%;
    height: 20%;
}

.content-50p-25p {
    width: 50%;
    height: 25%;
}

.content-50p-30p {
    width: 50%;
    height: 30%;
}

.content-50p-33p {
    width: 50%;
    height: 33.3333%;
}

.content-50p-35p {
    width: 50%;
    height: 35%;
}

.content-50p-40p {
    width: 50%;
    height: 40%;
}

.content-50p-45p {
    width: 50%;
    height: 45%;
}

.content-50p-50p {
    width: 50%;
    height: 50%;
}

.content-50p-55p {
    width: 50%;
    height: 55%;
}

.content-50p-60p {
    width: 50%;
    height: 60%;
}

.content-50p-65p {
    width: 50%;
    height: 65%;
}

.content-50p-70p {
    width: 50%;
    height: 70%;
}

.content-50p-75p {
    width: 50%;
    height: 75%;
}

.content-50p-80p {
    width: 50%;
    height: 80%;
}

.content-50p-85p {
    width: 50%;
    height: 85%;
}

.content-50p-90p {
    width: 50%;
    height: 90%;
}

.content-50p-95p {
    width: 50%;
    height: 95%;
}

.content-50p-100p {
    width: 50%;
    height: 100%;
}

.content-5p-50p {
    width: 5%;
    height: 50%;
}

.content-10p-50p {
    width: 10%;
    height: 50%;
}

.content-15p-50p {
    width: 15%;
    height: 50%;
}

.content-20p-50p {
    width: 20%;
    height: 50%;
}

.content-25p-50p {
    width: 25%;
    height: 50%;
}

.content-30p-50p {
    width: 30%;
    height: 50%;
}

.content-35p-50p {
    width: 35%;
    height: 50%;
}

.content-40p-50p {
    width: 40%;
    height: 50%;
}

.content-45p-50p {
    width: 45%;
    height: 50%;
}

.content-50p-50p {
    width: 50%;
    height: 50%;
}

.content-55p-50p {
    width: 55%;
    height: 50%;
}

.content-60p-50p {
    width: 60%;
    height: 50%;
}

.content-65p-50p {
    width: 65%;
    height: 50%;
}

.content-70p-50p {
    width: 70%;
    height: 50%;
}

.content-75p-50p {
    width: 75%;
    height: 50%;
}

.content-80p-50p {
    width: 80%;
    height: 50%;
}

.content-85p-50p {
    width: 85%;
    height: 50%;
}

.content-90p-50p {
    width: 90%;
    height: 50%;
}

.content-95p-50p {
    width: 95%;
    height: 50%;
}

.content-100p-50p {
    width: 100%;
    height: 50%;
}

.content-auto-auto {
    width: auto;
    height: auto;
}

.content-100p-auto {
    width: 100%;
    height: auto;
}

.content-auto-100p {
    width: auto;
    height: 100%;
}

.content-100p-100p {
    width: 100%;
    height: 100%;
}

.content-100v-100p {
    width: 100vh;
    height: 100%;
}

.content-100p-100v {
    width: 100%;
    height: 100vh;
}

.content-100v-auto {
    width: 100vh;
    height: auto;
}

.content-auto-100v {
    width: auto;
    height: 100vh;
}

.content-wp-value-100p {
    width: calc(100% - var(--width));
    height: 100%;
}

.content-100p-wp-value {
    width: 100%;
    height: calc(100% - var(--height));
}

.content-wvh-value-100p {
    width: calc(100vh - var(--width));
    height: 100%;
}

.content-100p-wvh-value {
    width: 100%;
    height: calc(100vh - var(--height));
}

.content-h-100p {
    height: 100%;
}

.content-w-100p {
    width: 100%;
}

.content-w-value {
    width: var(--width);
}

.content-h-value {
    height: var(--width);
}

.content-auto-value {
    width: auto;
    height: var(--height);
}

.content-value-auto {
    width: var(--width);
    height: auto;
}

.content-100p-value {
    width: 100%;
    height: var(--height);
}

.content-value-100p {
    width: var(--width);
    height: 100%;
}

.content-value-value {
    width: var(--width);
    height: var(--height);
}

/* Min */

.min-w-5 {
    min-width: 5px;
}

.min-w-10 {
    min-width: 10px;
}

.min-w-15 {
    min-width: 15px;
}

.min-w-20 {
    min-width: 20px;
}

.min-w-25 {
    min-width: 25px;
}

.min-w-30 {
    min-width: 30px;
}

.min-w-35 {
    min-width: 35px;
}

.min-w-40 {
    min-width: 40px;
}

.min-w-45 {
    min-width: 45px;
}

.min-w-50 {
    min-width: 50px
}

.min-w-55 {
    min-width: 55px
}

.min-w-60 {
    min-width: 60px
}

.min-w-65 {
    min-width: 65px
}

.min-w-70 {
    min-width: 70px
}

.min-w-75 {
    min-width: 75px
}

.min-w-80 {
    min-width: 80px;
}

.min-w-85 {
    min-width: 85px;
}

.min-w-90 {
    min-width: 90px;
}

.min-w-95 {
    min-width: 95px;
}

.min-w-100 {
    min-width: 100px;
}

.min-w-value {
    min-width: var(--width);
}

/* Min-height */

.min-h-5 {
    min-height: 5px;
}

.min-h-10 {
    min-height: 10px;
}

.min-h-15 {
    min-height: 15px;
}

.min-h-20 {
    min-height: 20px;
}

.min-h-25 {
    min-height: 25px;
}

.min-h-30 {
    min-height: 30px;
}

.min-h-35 {
    min-height: 35px;
}

.min-h-40 {
    min-height: 40px;
}

.min-h-45 {
    min-height: 45px;
}

.min-h-50 {
    min-height: 50px
}

.min-h-55 {
    min-height: 55px
}

.min-h-60 {
    min-height: 60px
}

.min-h-65 {
    min-height: 65px
}

.min-h-70 {
    min-height: 70px
}

.min-h-75 {
    min-height: 75px
}

.min-h-80 {
    min-height: 80px;
}

.min-h-85 {
    min-height: 85px;
}

.min-h-90 {
    min-height: 90px;
}

.min-h-95 {
    min-height: 95px;
}

.min-h-100 {
    min-height: 100px;
}

.min-h-value {
    min-height: var(--height);
}

/* Zindex */

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.zindex-3 {
    z-index: 3;
}

.zindex-4 {
    z-index: 4;
}

.zindex-5 {
    z-index: 5;
}

.zindex-6 {
    z-index: 6;
}

.zindex-7 {
    z-index: 7;
}

.zindex-8 {
    z-index: 8;
}

.zindex-9 {
    z-index: 9;
}

.zindex-10 {
    z-index: 10;
}

.zindex-value {
    z-index: var(--zindex);
}

/* Radius */

.radius-5 {
    border-radius: 5px;
}

.radius-10 {
    border-radius: 10px;
}

.radius-15 {
    border-radius: 15px;
}

.radius-20 {
    border-radius: 20px;
}

.radius-25 {
    border-radius: 25px;
}

.radius-30 {
    border-radius: 30px;
}

.radius-35 {
    border-radius: 35px;
}

.radius-40 {
    border-radius: 40px;
}

.radius-45 {
    border-radius: 45px;
}

.radius-50 {
    border-radius: 50px;
}

.radius-value {
    border-radius: var(--radius);
}

.radius-left-5 {
    border-radius: 5px 0px 0px 5px;
}

.radius-top-5 {
    border-radius: 5px 5px 0px 0px;
}

.radius-right-5 {
    border-radius: 0px 5px 5px 0px;
}

.radius-bottom-5 {
    border-radius: 0px 0px 5px 5px;
}

/* Border */

.border-none {
    border: none;
}

.border-r-CCD1DD7F {
    border-right: 1px solid #CCD1DD7F;
}

.border-b-FFFFFF {
    border-bottom: 1px solid #FFFFFF;
}

.border-FFFFFF {
    border: 1px solid #FFFFFF;
}

.border-r-FFFFFF {
    border-right: 1px solid #FFFFFF;
    height: 50%;
}

.border-C1C1C1 {
    border: 0.5px solid #C1C1C1;
}

/* Outline */

.outline-none {
    outline: none;
}

/* Flex */

.flex {
    display: flex;
}

.flex-start-start {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.flex-start-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.flex-start-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.flex-center-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-end-start {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.flex-end-center {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.flex-end-end {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.center-center {
    align-items: center;
    justify-content: center;
}

/* Position */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* Side */

.top-0 {
    top: 0px;
}

.top-5 {
    top: 5px;
}

.top-10 {
    top: 10px;
}

.right-0 {
    right: 0px;
}

.right-5 {
    right: 5px;
}

.right-10 {
    right: 10px;
}

.left-0 {
    left: 0px;
}

.bottom-0 {
    bottom: 0px;
}

/* Margin */

.margin-l-auto {
    margin-left: auto;
}

.margin-r-auto {
    margin-right: auto;
}

/* Font */

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.uppercase-first {
    display: block;
}

.uppercase-first::first-letter {
    text-transform: uppercase;
}

/* Wrap */

.nowrap {
    white-space: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

/* Align */

.text-center {
    text-align: center;
}

/* Size */

.s10 {
    font-size: 10px;
}

.s12 {
    font-size: 12px;
}

.s14 {
    font-size: 14px;
}

.s16 {
    font-size: 16px;
}

.s18 {
    font-size: 18px;
}

.s20 {
    font-size: 20px;
}

.s22 {
    font-size: 22px;
}

.s24 {
    font-size: 24px;
}

.s26 {
    font-size: 26px;
}

.s28 {
    font-size: 28px;
}

.s30 {
    font-size: 30px;
}

.s32 {
    font-size: 32px;
}

.s34 {
    font-size: 34px;
}

.s36 {
    font-size: 36px;
}

.s38 {
    font-size: 38px;
}

.s40 {
    font-size: 40px;
}

.s80 {
    font-size: 80px;
}

.s100 {
    font-size: 100px;
}

.svalue {
    font-size: var(--size);
}

/* Img */

.img-auto-auto {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* Align content */

.content-start {
    align-content: flex-start;
}

/* Hidden */

.hidden {
    display: none;
}

.hidden-o {
    display: block;
}